body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

#root {
    height: 100vh;
    display: flex;
}

.board {
    flex-direction: column;
    display: flex;
    height: 50vh;
    width: 50vh;
    margin: auto;
}

.board-row {
    position: relative;
    display: flex;
    height: 100%;
}

.board-cell {
    position: relative;
    top: 0;
    left: 0;
    transition: all 2s ease-in;
    border: black solid;
    width: 100%;
}